.poetsen-one-regular {
    font-family: "Poetsen One", sans-serif;
    font-weight: 400;
    font-style: normal;
}


* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Poetsen One", sans-serif;
}

body {
    background-image: url(../image/Trem-fds.png);
}

h1, p{
    color: white;
    border: 1px solid red;
}


/*Configurando o Header agora!*/

.header-container {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid blue;
}

.header-conteudo {
    text-align: center;
}

.header-conteudo img{
    border: 8px solid rgb(161, 116, 116);
    justify-content: center;
    margin: 20px;
    border-radius: 50%;
    width: 400px;
    height: 400px;
}

.header-conteudo {
    text-align: center;
}


/*Configurando o Nav agora!*/

nav{
    
}

.nav-container{
    display: flex;
    flex-flow: column wrap;
    position: fixed;
    width: 50px;
    right: 0px;
    bottom: 0px;
}

#Links-here img{
    width: 50px;
    margin: 10px 0px;
}